@model MilestoneCST_350_Damien_.Models.UserModel

@{
    ViewData["Title"] = "Success";
}

<h1>Success</h1>

<div>
    <h4>Thank you for making an account. </h4>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
