@model MilestoneCST_350_Damien_.Models.UserModel

<div>
    <h4>Sorry, your UserName or Password is incorrect. Please Go back and try again.</h4>
    <hr />

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
